@font-face {
    font-family: 'Sofia';
    src: local('Sofia'), local('Sofia-Regular'), url('../font/sofia/sofia.woff2') format('woff2'), url('../font/sofia/sofia.woff') format('woff'), url('../font/sofia/sofia.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
